node_modules
vendor
.env
.env.backup
.env.production
.git
.gitignore
.phpunit.result.cache
.phpunit.cache
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.DS_Store
Thumbs.db
*.log
*.sql
*.md
*.bat
*.iss
*.rar
.vscode
.idea
